/* Celular Retrato */
@media (max-width:600px) and (orientation: portrait) {

}

/* Celular Paisagem */
@media (max-width:800px) and (orientation: landscape) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: none;
    }
}

/* Tablet Retrato */
@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {

}

 /* Tablet Paisagem */
 @media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {

}


@media (max-width: 900px) {
    footer .content .link-boxes {
      flex-wrap: wrap;
    }
  
    footer .content .link-boxes {
      width: 40%;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 700px) {
    footer {
      position: relative;
    }
  
    .content .top .logo-details {
      font-size: 26px;
    }
  
    .content .top a {
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 3 - 10px);
    }
  
    footer .content .link-boxes {
      width: 60%;
    }
  
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 520px) {
    footer::before {
      top: 145px;
    }
  
    footer .content .top {
      flex-direction: column;
    }
  
    .content .top {
      margin-top: 16px;
    }
  
    footer .content .link-boxes .box {
      width: calc(100% / 2 - 10px);
    }
    
    footer .content .link-boxes {
      width: 100%;
    }
  }
