/* Celular Retrato */
@media (max-width:600px) and (orientation: portrait) {
    body {
        height: 520vh;
      }

    .container {
       margin-top: 20px;
       margin-bottom: 30px;
    }

    .recipe_img {
        width: 100%;
    }

    .panel-top {
        right: 1px; 
        margin-bottom: 10px;
    }

    .ingredients{
        display: contents;
        margin-bottom: 20px;
    }
    .ingredients > h3 {
        display: block;
    }
    .ingredients ul {
        display: flex;
        flex-direction: column;
        gap: 8px; /* Espaçamento entre os itens */
        margin-left: 10px;
      }     

      .directions {
        width: 90%;
        color: #ffffff;
        margin-bottom: 20px;
        max-width: 500px;
      }
}

/* Celular Paisagem */
@media (max-width:800px) and (orientation: landscape) {
    body {
        height: 430vh;
      }

    .container {
        margin-top: 20px;
     }

    .recipe_img {
        width: 100%;
    }

    .ingredients ul {
        display: flex;
        flex-direction: column;
        gap: 8px; /* Espaçamento entre os itens */
        margin-left: 10px;
      } 
}

/* Tablet Retrato */
@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {

}

 /* Tablet Paisagem */
 @media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {

}
