<div class="container">
  <h1>PRATOS SALGADOS</h1>
  <div class="paragraph">
    <p style="text-align: center;">Aqui você encontra pratos irresistíveis para todas as ocasiões! De petiscos crocantes a refeições completas, 
        explore sabores, temperos e combinações que vão transformar sua cozinha. Bom apetite!</p>
  </div>
      <section class="hero-section">
  <div class="card-grid">
    
    <a class="card" href="receita/4">
      <div class="card__background" style="background-image: url(../../../assets/img-capas/mini4.jpg)"></div>
    </a>
    <a class="card" href="receita/3">
      <div class="card__background" style="background-image: url(../../../assets/img-capas/mini5.jpg)"></div>
    </a>
    <a class="card" href="receita/2">
      <div class="card__background" style="background-image: url(../../../assets/img-capas/mini16.jpg)"></div>
    </a>
    
    <a class="card" href="receita/1">
      <div class="card__background" style="background-image: url(../../../assets/img-capas/mini46.jpg)"></div>
    </a>
  </div>
</section>

  <div class="box-button">
    <app-salt-button></app-salt-button>
  </div>
</div>