<div class="container">
    <nav>
        <ul>
            <li class="logo">
                <i class="fa-solid fa-utensils"></i>
            </li>
            <li><a [routerLink]="['']" class="menu">Home</a></li>
            <li><a [routerLink]="['doces']" class="menu">Doces</a></li>
            <li><a [routerLink]="['salgados']" class="menu">Salgados</a></li>

            <li class="has-submenu">
                <a href="#" class="menu">Buscar</a>
                <ul class="submenu">
                    <li><a [routerLink]="['/subcategoria', 'acompanhamentos']" class="submenu-item">Acompanhamentos</a></li>
                    <li><a [routerLink]="['/subcategoria', 'arroz']" class="submenu-item">Arroz</a></li>
                    <li><a [routerLink]="['/subcategoria', 'bebidas']" class="submenu-item">Bebidas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'biscoitos']" class="submenu-item">Biscoitos</a></li>
                    <li><a [routerLink]="['/subcategoria', 'bolos']" class="submenu-item">Bolos</a></li>
                    <li><a [routerLink]="['/subcategoria', 'café da manhã']" class="submenu-item">Café da manhã</a></li>
                    <li><a [routerLink]="['/subcategoria', 'caldos']" class="submenu-item">Caldos</a></li>
                    <li><a [routerLink]="['/subcategoria', 'carnes']" class="submenu-item">Carnes</a></li>
                    <li><a [routerLink]="['/subcategoria', 'datas comemorativas']" class="submenu-item">Comemorativas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'lanches']" class="submenu-item">Lanches</a></li>
                    <li><a [routerLink]="['/subcategoria', 'massas']" class="submenu-item">Massas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'pães']" class="submenu-item">Pães</a></li>
                    <li><a [routerLink]="['/subcategoria', 'petiscos']" class="submenu-item">Petiscos</a></li>
                    <li><a [routerLink]="['/subcategoria', 'pipocas']" class="submenu-item">Pipocas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'pizzas']" class="submenu-item">Pizzas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'refeição completa']" class="submenu-item">Refeições</a></li>
                    <li><a [routerLink]="['/subcategoria', 'saladas']" class="submenu-item">Saladas</a></li>
                    <li><a [routerLink]="['/subcategoria', 'sem lactose']" class="submenu-item">Sem Lactose</a></li>
                    <li><a [routerLink]="['/subcategoria', 'sobremesas']" class="submenu-item">Sobremesas</a></li>
                </ul>
            </li>
            <li><a href="https://ti-experient.netlify.app/" class="menu">Sobre</a></li>
        </ul>
    </nav>
</div>